<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="cabecalho :: head"></div>
    <title>Crud Manager - Form Medicamento</title>
</head>
<body>
    <div class="container my-2">
        <h2>Medicamento</h2>

        <form th:action="@{/medicines/register}" 
              method="POST"
              th:object="${medicine}">
            
            <input type="hidden" th:field="*{id}">

            <!-- Nome -->
            <span class="text-danger"
                  th:if="${#fields.hasErrors('nome')}"
                  th:errors="*{nome}">
            </span>
            <input type="text" placeholder="Nome"
                   class="form-control mb-4 col-4"
                   th:field="*{nome}">

            <!-- Tipo -->
            <span class="text-danger"
                  th:if="${#fields.hasErrors('tipo')}"
                  th:errors="*{tipo}">
            </span>
            <input type="text" placeholder="Tipo"
                   class="form-control mb-4 col-4"
                   th:field="*{tipo}">

            <!-- Marca -->
            <span class="text-danger"
                  th:if="${#fields.hasErrors('marca')}"
                  th:errors="*{marca}">
            </span>
            <input type="text" placeholder="Marca"
                   class="form-control mb-4 col-4"
                   th:field="*{marca}">

            <!-- Quantidade -->
            <span class="text-danger"
                  th:if="${#fields.hasErrors('quantidade')}"
                  th:errors="*{quantidade}">
            </span>
            <input type="text" placeholder="Quantidade"
                   class="form-control mb-4 col-4"
                   th:field="*{quantidade}">

            <!-- Farmácia -->
            <div class="form-group mb-4">
                <label for="pharmacy">Farmácia</label>
                <select id="pharmacy" name="pharmacy" class="form-control" th:field="*{pharmacy}">
                    <option value="" disabled selected>Selecione uma farmácia</option>
                    <option th:each="pharmacy : ${pharmacy}" 
                            th:value="${pharmacy.id}" 
                            th:text="${pharmacy.nome}">
                    </option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('pharmacy')}" th:errors="*{pharmacy}"></span>
            </div>

            <button type="submit" class="btn btn-info col-2">Salvar</button>
        </form>

        <hr>

        <a th:href="@{/medicines}"> Medicamentos </a>
    </div>
</body>
</html>
