<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div th:replace="cabecalho :: head"></div>

	<title>Crud Manager - Form Medicamento</title>
</head>
<body>
	<div class="container my-2">
		<h2>Medicamento</h2>
		
		<form th:action="@{/medicines/register}" 
		      method="POST"
		      th:object="${medicine}" 
		      action="#">
			
			<input type="hidden" id="id" th:field="*{id}">
			
			<span class="text-danger"
				  th:if="${#fields.hasErrors('nome')}"
				  th:errors="*{nome}">
			</span>
			<input type="text" placeholder="tipo" 
			       class="form-control mb-4 col-4"
			       th:field="*{tipo}"> 
			
			<span class="text-danger"
				  th:if="${#fields.hasErrors('marca')}"
				  th:errors="*{marca}">
			</span>
			<input type="text" placeholder="Quantidade" 
				   class="form-control mb-4 col-4"
				   th:field="*{quantidade}">
			
			<!-- <span class="text-danger"
				  th:if="${#fields.hasErrors('diagnostico')}"
				  th:errors="*{diagnostico}">
			</span>
			<input type="text" placeholder="Diagnostico" 
				   class="form-control mb-4 col-4"
				   th:field="*{diagnostico}"> -->
				   
			<!-- Id do paciente -->
			<div class="form-group mb-4">
                    <label for="pharmacy">Farmacia</label>
                    <select id="pharmacy" name="pharmacy" class="form-control" th:field="*{pharmacy}">
                        <option value="" disabled selected>Selecione uma farmacia</option>
                        <option th:each="pharmacy : ${pharmacies}" 
                                th:value="${pharmacy.id}" 
                                th:text="${pharmacy.nome}">
                        </option>
                    </select>
                    <span class="text-danger" th:if="${#fields.hasErrors('pharmacy')}" th:errors="{pharmacy}"></span>
                </div>
			
			<button type="submit" 
			        class="btn btn-info col-2">Salvar</button>
			
		</form>
		
		<hr>
		
		<a th:href="@{/medicines}"> Medicamentos </a>
	</div>
</body>
</body>
</html>